build
.DS_Store
.lock-wscript
test/images/*.png
examples/*.png
examples/*.jpg
testing
out.png
out.pdf
out.svg
.pomo
node_modules
deps/
npm-debug.log
package-lock.json

# Vim cruft
*.swp
*.un~
deps/
npm-debug.log
