name: Test
on:
  push:
    paths-ignore:
      - ".github/workflows/prebuild.yaml"
  pull_request:
    paths-ignore:
      - ".github/workflows/prebuild.yaml"

jobs: 
  Linux:
    name: Test on Linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [10, 12, 14, 16, 18]
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y libcairo2-dev libjpeg-dev libpango1.0-dev libgif-dev librsvg2-dev
      - name: Install
        run: npm install --build-from-source
      - name: Test
        run: npm test

  Windows:
    name: Test on Windows
    runs-on: windows-2019
    strategy:
      matrix:
        node: [10, 12, 14, 16, 18]
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          Invoke-WebRequest "https://ftp-osl.osuosl.org/pub/gnome/binaries/win64/gtk+/2.22/gtk+-bundle_2.22.1-20101229_win64.zip" -OutFile "gtk.zip"
          Expand-Archive gtk.zip -DestinationPath "C:\GTK"
          Invoke-WebRequest "https://downloads.sourceforge.net/project/libjpeg-turbo/2.0.4/libjpeg-turbo-2.0.4-vc64.exe" -OutFile "libjpeg.exe" -UserAgent NativeHost
          .\libjpeg.exe /S
          npm install -g node-gyp@8
          npm prefix -g | % {npm config set node_gyp "$_\node_modules\node-gyp\bin\node-gyp.js"}
      - name: Install
        run: npm install --build-from-source
      - name: Test
        run: npm test

  macOS:
    name: Test on macOS
    runs-on: macos-latest
    strategy:
      matrix:
        node: [10, 12, 14, 16, 18]
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          brew update
          brew install python3 || : # python doesn't need to be linked
          brew install pkg-config cairo pango libpng jpeg giflib librsvg
      - name: Install
        run: npm install --build-from-source
      - name: Test
        run: npm test

  Lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - uses: actions/checkout@v2
      - name: Install
        run: npm install --ignore-scripts
      - name: Lint
        run: npm run lint
      - name: Lint Types
        run: npm run dtslint
